body {
    background-color: rgb(3, 5, 156);
  }
header {
    color: white;
    width: 50%;
}
h1 {
    font-size: 48px;
    color: DarkOliveGreen;
}
img {
    width: 60px;
    height: 66px;
    position: fixed;
    left:1470px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 8, 243);
  }
li {
    float: left;
  }
  .nav {
      float: left;
  }
h2 { 
    color: white;
    font-style: times;
    padding: 1px;
    margin: 28px;
    font-family: impact;
}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 28px;
    margin: 20px;
    text-decoration: none;
    font-style: times;
  }
  .footer {
    position: fixed;
    margin: 50;
    padding: 50;
    left: 40;
    bottom: 0;
    width: 100%;
    background-color: rgb(43, 8, 243);
    color: white;
    text-align: center;
 }

footer a{
    color: white;
    display: block;
    
}
li a:hover:not(.active) {
    background-color: rgb(8, 9, 15);
}
.active {
    background-color:rgb(75, 15, 75)
}
