
header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
header li a{
  display: block;
  color: white;
  text-align: center;
  padding: 32px;
  text-decoration: none;
}
header img {
  float: right;
  height: 82px;
  width: 95px;
}
body {
  background-color: rgb(6, 83, 38);
  margin: 0px;
  }

  .page_content {
    margin-top: 100px;
    height: 100vh;
  }

li {
  float: left;
}
h1 {
    font-size: 44px;
    color: white; 
    text-align: center;
}
p {
    font-size: 20px;
    color: white; 
    text-align: center;
}
.column {
  float: left;
  width: 50%;
}
header h2 { 
    color: white;
    font-style: times;
    padding: 1px;
    margin: 26px;
    font-family: impact;
}
  footer{
  background-color: #333;
  height: auto;
  width: 100%;
  padding-top: 5px;
  color: rgb(255, 255, 255);
  display: flex;
  }
footer ul{
  list-style-type: none;
  display: flex;
  flex-flow: column;
}
footer li, footer a, footer div{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
li a:hover:not(.active) {
    background-color: rgb(8, 9, 15);
}
.active {
    background-color:rgb(75, 15, 75)
}
