
header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5CDB95;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
header li a{
  display: block;
  color: #05386B;
  text-align: center;
  padding: 32px;
  text-decoration: none;
}
header img {
  float: right;
  height: 82px;
  width: 95px;
}
body {
  background-color: #5CDB95;
  margin: 0px;
  }

  .page_content {
    margin-top: 100px;
    min-height: 100vh;
  }

nav li {
  float: left;
}
h1 {
    font-size: 44px;
    color: #05386B; 
    text-align: center;
}
h3 {
  color: rgb(66, 22, 22);
}
p {
    font-size: 20px;
    color: #05386B; 
    text-align: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: auto;
    font-size: 20px;
}
.column {
  
  padding: 1px 16px;
  width: 70%;
}
header h2 { 
    color: #05386B;
    font-style: times;
    padding: 1px;
    margin: 26px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}
h2 {
    color: #05386B;
    font-style: times;
    padding: 1px;
    margin: 26px;
    text-align: center;
    font-size: 25px;
}
  footer{
  background-color: #379683;
  height: auto;
  width: 100%;
  padding-top: 5px;
  color: #05386B;
  display: flex;
  margin-top: 50px;
  }
footer ul{
  list-style-type: none;
  display: flex;
  flex-flow: column;
}
footer li, footer a, footer div{
  font-family: Arial, Helvetica, sans-serif;
  color: #05386B;
}
a:link {
  text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #379683;
}
.active {
  background-color: #EDF5E1;
}
table, tr, td {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #8EE4AF;
  color: #05386B;    
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
tr, td {
  padding: 15px;
}
td.tdinput
{
    border:1px solid #ddd;
}
.faq {
  background-color: #8EE4AF;
  text-align: center;
  margin:auto;
  width: 70%;
  color: rgb(66, 22, 22);
}
.blog article {
  font-size: 22px;
}
.blog h2 {
  font-size: 32px;
}
img.a {
  vertical-align: baseline;
  float: right;
}
img.b {
  vertical-align: center;
  }

ol.a{
  list-style-type: none;
  text-align: center;
  color: #05386B;
  font-family: 'IBM Plex Sans Arabic', sans-serif;
}
* { 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
  }
  #main {
    margin: 40px auto 10px auto;
    min-height: 400px;
    width: 960px;
  }
  
  .frame {
    float: left;
    height: 250px;
    overflow: hidden;
    position: relative;
    width: 300px;
  }
  
  .frame a {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .frame img {
    display: block;
    height: auto;
    position: absolute;
    top: -125%;
    left: -50%;
    width: auto;
    z-index: 0;
  }
  
  .frame:nth-child(2) img {
    top: -90%;
    left: -70%;
  }
  .frame:nth-child(3) img {
    top: -90%;
  }
  
  .frame a .caption {
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 180px;
    transition-property: top;
    transition-duration: 0.2s;  
    width: 100%;  
    z-index: 10;
  }
  
  .frame a:hover .caption {
    top: 0;
    transition: all 2s;
  }
  .frame a .caption h2 {
    color: rgb(66, 22, 22);
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .frame a .caption p {
    color: #05386B;
    display: none;
    line-height: 150%;
    transition: all 0.2s;  
    width: 90%;
  }
  
  .frame a:hover .caption p {
    display: block;
    margin-bottom: 20px;
  }