
header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5CDB95;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
header li a{
  display: block;
  color: #05386B;
  text-align: center;
  padding: 32px;
  text-decoration: none;
}
header img {
  float: right;
  height: 82px;
  width: 95px;
}
body {
  background-color: #5CDB95;
  margin: 0px;
  }

  .page_content {
    margin-top: 100px;
    min-height: 100vh;
  }

li {
  float: left;
}
h1 {
    font-size: 44px;
    color: #05386B; 
    text-align: center;
}
p {
    font-size: 20px;
    color: #05386B; 
    text-align: center;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    margin: auto;
    font-size: 20px;
}
.column {
  
  padding: 1px 16px;
  width: 70%;
}
header h2 { 
    color: #05386B;
    font-style: times;
    padding: 1px;
    margin: 26px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}
  footer{
  background-color: #379683;
  height: auto;
  width: 100%;
  padding-top: 5px;
  color: #05386B;
  display: flex;
  margin-top: 50px;
  }
footer ul{
  list-style-type: none;
  display: flex;
  flex-flow: column;
}
footer li, footer a, footer div{
  font-family: Arial, Helvetica, sans-serif;
  color: #05386B;
}
a:link {
  text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #379683;
}
.active {
  background-color: #EDF5E1;
}
table, tr, td {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #8EE4AF;
  color: #05386B;    
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
tr, td {
  padding: 15px;
}
td.tdinput
{
    border:1px solid #ddd;
}
.faq {
  background-color: #8EE4AF;
  text-align: center;
  margin:auto;
  width: 70%;
}
.blog article {
  font-size: 22px;
}
.blog h2 {
  font-size: 32px;
}
img.a {
  vertical-align: baseline;
  float: right;
}
img.b {
  vertical-align: center;
  float: left;
}
